.section {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 4rem 0 4rem 0;
  width: 75%;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2rem;
  }
}

.field {
  display: flex;
  text-align: center;
  align-items: center;
  height: 3rem;
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1rem;
  }

  svg {
    height: 1.5rem;
    // width: 1.5rem;
  }
}
